# Totale

##### setup

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import altair as alt
import os.path
import getpass
import platform
from pandasql import sqldf

username = getpass.getuser()

print("Username: ", username)
pathPart1 = "/Users/"
pathPart2 = "/Github/SCGProject/Datasets/"
complePath = pathPart1+username+pathPart2

if platform.system() == "Darwin":
    if(username == "marcovinciguerra"):
        dfCambio = pd.read_csv(
            complePath+"/CorrectedDatasets/dfCambio.csv")

        dfClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dfClienti.csv")

        dfConsumi = pd.read_csv(
             complePath + "/CorrectedDatasets/dfConsumi.csv")

        dfCostoOrarioConsuntivo = pd.read_csv(
            complePath+"/CorrectedDatasets/dfConsuntivo.csv")

        dfCostoOrarioBudget = pd.read_csv(
            complePath+"CorrectedDatasets/dfCostoOrario.csv")

        dfImpiegoRisorse = pd.read_csv(
         complePath+"/CorrectedDatasets/dfImpiegoRisorse.csv")

        dftuttiClienti = pd.read_csv(
         complePath+"/CorrectedDatasets/dftuttiClienti.csv")

        dfVendite = pd.read_csv(
         complePath+"/CorrectedDatasets/dfVendite.csv")

    elif(username == "davidguzman"):
            pathPart1 = "/Users/"
            pathPart2 = "/documents/Github/SCGProject/Datasets/"
            complePath = pathPart1+username+pathPart2

            dfCambio = pd.read_csv(
                complePath+"/CorrectedDatasets/dfCambio.csv")

            dfClienti = pd.read_csv(
                complePath+"/CorrectedDatasets/dfClienti.csv")

            dfConsumi = pd.read_csv(
                complePath + "/CorrectedDatasets/dfConsumi.csv")

            dfCostoOrarioConsuntivo = pd.read_csv(
                complePath+"/CorrectedDatasets/dfConsuntivo.csv")

            dfCostoOrarioBudget = pd.read_csv(
                complePath+"CorrectedDatasets/dfCostoOrario.csv")

            dfImpiegoRisorse = pd.read_csv(
            complePath+"/CorrectedDatasets/dfImpiegoRisorse.csv")

            dftuttiClienti = pd.read_csv(
            complePath+"/CorrectedDatasets/dftuttiClienti.csv")

            dfVendite = pd.read_csv(
            complePath+"/CorrectedDatasets/dfVendite.csv")

elif platform.system() == "Linux":
    complePath = "/home/alinux/unibg/git_repo/SCGProject"
    pathPart1 = "/Users/"
    pathPart2 = "/documents/Github/SCGProject/Datasets/"
    complePath = pathPart1+username+pathPart2

    dfCambio = pd.read_csv(
        complePath+"/CorrectedDatasets/dfCambio.csv")

    dfClienti = pd.read_csv(
        complePath+"/CorrectedDatasets/dfClienti.csv")

    dfConsumi = pd.read_csv(
        complePath + "/CorrectedDatasets/dfConsumi.csv")

    dfCostoOrarioConsuntivo = pd.read_csv(
        complePath+"/CorrectedDatasets/dfConsuntivo.csv")

    dfCostoOrarioBudget = pd.read_csv(
        complePath+"CorrectedDatasets/dfCostoOrario.csv")

    dfImpiegoRisorse = pd.read_csv(
        complePath+"/CorrectedDatasets/dfImpiegoRisorse.csv")

    dftuttiClienti = pd.read_csv(
        complePath+"/CorrectedDatasets/dftuttiClienti.csv")

    dfVendite = pd.read_csv(
        complePath+"/CorrectedDatasets/dfVendite.csv")

Username:  davidguzman

# Ricavi

In [2]:
dfVendite

,Unnamed: 0,NrMovimento,budget/cons,NrArticolo,NrOrigine,Quantity,ImportoVenditaValutaLocaleTOTALEVENDITA
0,0,21621,BUDGET,ART0001433,C00140,4,18.80
1,1,21629,BUDGET,ART0001610,C00140,12,145.28
2,2,21631,BUDGET,ART0003269,C00140,24,933.99
3,3,21633,BUDGET,ART0002249,C00140,1,36.33
4,4,21634,BUDGET,ART0002370,C00140,1,65.72
...,...,...,...,...,...,...,...
2971,2971,67665,Consuntivo,ART0003197,C00140,2,0.00
2972,2972,67668,Consuntivo,ART0002740,C00140,20,0.00
2973,2973,67669,Consuntivo,ART0002450,C00140,2,820.00
2974,2974,67670,Consuntivo,ART0001215,C00140,2,584.00
2975,2975,67671,Consuntivo,ART0002997,C00140,2,580.10

In [15]:
venditeConsuntivo

,NrMovimento,budget,NrArticolo,Quantity,ImportoVenditaValutaLocaleTOTALEVENDITA,TassoCambioMedio,NrOrigine,CodCondizioniPagam,FattCumulative,Valuta
0,41582,Consuntivo,ART0005136,1,175.0,1,C00001,101,0,1
1,44987,Consuntivo,ART0000877,3,714.0,1,C00001,101,0,1
2,44988,Consuntivo,ART0000878,3,684.0,1,C00001,101,0,1
3,44989,Consuntivo,ART0000879,3,234.0,1,C00001,101,0,1
4,44990,Consuntivo,ART0000880,12,48.0,1,C00001,101,0,1
...,...,...,...,...,...,...,...,...,...,...
1762,56895,Consuntivo,ART0005136,16,0.0,"135,01",C00498,101,0,3
1763,56896,Consuntivo,ART0005136,16,0.0,"135,01",C00498,101,0,3
1764,59224,Consuntivo,ART0005136,16,204.0,"135,01",C00498,101,0,3
1765,59225,Consuntivo,ART0005136,16,122.4,"135,01",C00498,101,0,3
1766,60720,Consuntivo,ART0005136,2,200.0,"135,01",C00504,120,0,3

In [3]:
dfVendite.rename(columns = {'budget/cons':'budget'}, inplace = True)
venditeConsuntivo = sqldf("SELECT DISTINCT * FROM dfVendite WHERE budget = 'CONSUNTIVO' or budget = 'Consuntivo'")
venditeBudget = sqldf("SELECT DISTINCT * FROM dfVendite WHERE budget = 'BUDGET' or budget = 'Budget'")

venditeConsuntivo = sqldf('''SELECT DISTINCT * 
FROM venditeConsuntivo as v join dfClienti as c on v.cliente = c.cliente join dfCambio as k on c.Valuta = k.CodiceValuta
''')

In [16]:
# join with dfCambio and dfClienti
venditeConsuntivo = sqldf('''SELECT DISTINCT v.NrMovimento, v.budget, v.NrArticolo, v.Quantity, v.ImportoVenditaValutaLocaleTOTALEVENDITA,k.TassoCambioMedio, v.NrOrigine, c.CodCondizioniPagam, c.FattCumulative, c.Valuta
FROM venditeConsuntivo as v join dfClienti as c on v.NrOrigine = c.Nr join dfCambio as k on c.Valuta = k.CodiceValuta
where k.Anno = 'Consuntivo' or k.Anno = 'CONSUNTIVO'
''')

In [20]:
#turn everything into euros 
x = sqldf('''SELECT DISTINCT NrMovimento, budget, NrArticolo, Quantity, ImportoVenditaValutaLocaleTOTALEVENDITA,TassoCambioMedio, ImportoVenditaValutaLocaleTOTALEVENDITA/TassoCambioMedio as TotaleEuro, NrOrigine, CodCondizioniPagam, FattCumulative, Valuta
from venditeConsuntivo
''')

In [ ]:
sumVenditeConsuntivo = sqldf('select sum(ImportoVenditaValutaLocaleTOTALEVENDITA) as sumVenditaTotale from venditeConsuntivo')
sumVenditeBudget = sqldf('select sum(ImportoVenditaValutaLocaleTOTALEVENDITA) as sumVenditaTotale from venditeBudget')
sumVenditeBudget-sumVenditeConsuntivo